// -*- c -*-

// Configuration du clavier Ergonaut One sous ZMK

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <behaviors/rgbled_widget.dtsi> // pour le driver d'affichage via les LEDs

// Définition des indices des 4 couches utilisées
#define DEF 0
#define LWR 1
#define RSE 2
#define ADJ 3

// Réglages lt = layer-tap
&lt {
    // Délai max durant lequel une touche tap-[layer]hold est considérée comme
    // une frappe [tap] si une autre touche est frappée durant ce délai
    // (permet d'éviter l'activation par erreur de maintien [hold] en cas de frappe rapide)
    quick-tap-ms = <200>;
};

// Réglages mt = mod-tap
&mt {
    // Sélectionne la touche 'maintenue' avant le tapping-term-ms
    // uniquement si une autre touche est appuyée puis relachée avant
    // de relacher celle-ci
    flavor = "balanced";
    // Délai max durant lequel une touche tap-[mod]hold est considérée comme
    // une frappe [tap] si une autre touche est frappée durant ce délai
    // (permet d'éviter l'activation par erreur de maintien [hold] en cas de frappe rapide)
    quick-tap-ms = <200>;
};

// Réglage du mode caps_word : maintien du SHIFT jusqu'à une touche non alphanumérique
&caps_word {
    // on configure quelles touches permettent de continuer en mode CAPS :
    // Par défaut, outre les touches alpha-numériques, UNDERSCORE, BACKSPACE et DELETE.
    // Mais il y a un loup :
    // certaines lettres BÉPO sont câblées sur des touches non
    // alpha-numériques en QWERTY, il faut donc reconfigurer la bonne liste !
    // Le défaut, c'est qu'on ne peut pas retirer de touches
    // alpha-numériques QWERTY qui ne sont pas des lettres/chiffres : ^ sur le Y, etc…
    continue-list = <UNDERSCORE BACKSPACE DELETE LEFT_BRACKET RIGHT_BRACKET SEMI SQT NUBS COMMA DOT FSLH BSLH>;
};

// --------------------
// Macro pour taper mon @mel professionnelle
ZMK_MACRO(adr_mail_pro,
          wait-ms  = <40>;
          tap-ms   = <40>;
          bindings = <&kp Z &kp M &kp K>;
          //          bindings = <&kp f &kp r &kp e &kp d &kp e &kp r &kp i &kp c &kp DOT &kp b &kp o &kp i &kp t &kp e &kp u &kp x &kp AT &kp o &kp d &kp i &kp g &kp o &kp DOT &kp c &kp o &kp m>;
          )

/ {
    behaviors {
        // Activation/configuration du Home-Row-Mod pour le clavier gauche
        hml: home_row_mod_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <150>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;
            // List of keys on the right side of the keyboard
            // indexes des touches dans la keymap ci-dessous !
            hold-trigger-key-positions = <  6  7  8  9 10 11
                                           18 19 20 21 22 23
                                           30 31 32 33 34 35
                                           39 40 41 >;
            hold-trigger-on-release;
        };
        // Activation/configuration du Home-Row-Mod pour le clavier droit
        hmr: home_row_mod_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <150>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;
            // List of keys on the left side of the keyboard
            hold-trigger-key-positions = <  0  1  2  3  4  5
                                           12 13 14 15 16 17
                                           24 25 26 27 28 29
                                                    36 37 38 >;
            hold-trigger-on-release;
        };

        // --------------------
        // Tap-Dance pour Caps-Word/Caps-Lock :
        td0: tap_dance_caps {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Tap-Dance-Caps";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&caps_word>, <&kp CAPSLOCK>, <&adr_mail_pro>;
        };
        // Mod-Tap avec tap-dance :
        mt_td0: mod_tap_dance_caps {
            compatible = "zmk,behavior-hold-tap";
            display-name = "Mod-Tap-Caps";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            bindings = <&kp>, <&td0>;
        };

    };
};

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";

        // Active la couche ADJust quand les deux couches LoWeR et RaiSE sont activés
        tri-layer {
            if-layers = <LWR RSE>;
            then-layer = <ADJ>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "MAIN";
            bindings = <
&mt LGUI ESC             &kp Q  &kp W  &kp E                   &kp R        &kp T      &kp Y          &kp U      &kp I         &kp O    &kp P     &mt RIGHT_GUI LEFT_BRACKET
&mt LCTRL RIGHT_BRACKET  &hml LGUI A  &hml LALT S  &hml LCTRL D  &hml LSHFT F  &kp G      &kp H       &hmr RSHFT J      &hmr RCTRL K         &hmr LALT L    &hmr RGUI SEMI  &mt RCTRL SQT
&mt LSHFT NUBS           &kp Z  &kp X  &kp C                   &kp V        &kp B      &kp N          &kp M      &kp COMMA     &kp DOT  &kp FSLH  &mt RSHIFT BSLH
                                       &mt LALT BACKSPACE  &mt LCTRL TAB  &lt LWR SPACE  &lt RSE ENTER  &mt_td0  &mt RALT DEL
            >;
        };

        lower_layer {
            display-name = "NUM-CCP";
            bindings = <
&mt LGUI GRAVE       &kp NUMBER_1      &kp NUMBER_2      &kp NUMBER_3      &kp NUMBER_4      &kp N5      &kp NUMBER_6      &kp N7          &kp N8       &kp N9       &kp N0      &kp MINUS
&mt LCTRL LS(GRAVE)  &kp LS(NUMBER_1)  &kp LS(NUMBER_2)  &kp LS(NUMBER_3)  &kp LS(NUMBER_4)  &kp LS(N5)  &kp LS(NUMBER_6)  &kp LS(N7)      &kp LS(N8)   &kp LS(N9)   &kp LS(N0)  &mt RCTRL LS(MINUS)
&mt LSHIFT EQUAL     &trans            &kp LS(DELETE)    &kp LC(INS)       &kp LS(INS)       &trans      &trans            &kp LS(DELETE)  &kp LC(INS)  &kp LS(INS)  &trans      &kp LS(EQUAL)
                                       &trans            &lt RSE TAB       &trans      &trans            &trans          &trans
            >;
        };

        raise_layer {
            display-name = "FUNC-NAV";
            bindings = <
&kp LGUI          &kp F11  &kp F12  &kp K_PREV  &kp K_PLAY_PAUSE  &kp K_NEXT  &kp HOME    &kp PG_UP     &kp UP_ARROW  &kp PAGE_DOWN  &trans  &kp INS
&kp LSHFT         &kp F1   &kp F2   &kp F3      &kp F4            &kp F5      &kp END     &kp LEFT      &kp DOWN      &kp RIGHT      &trans  &kp PRINTSCREEN
&kp LEFT_CONTROL  &kp F6   &kp F7   &kp F8      &kp F9            &kp F10     &kp K_UNDO  &kp C_VOL_DN  &kp K_MUTE    &kp C_VOL_UP   &trans  &trans
                                    &trans      &trans            &trans      &trans      &lt LWR SPACE           &trans
            >;
        };

        adjust_layer {
            display-name = "ADJ";
            bindings = <
&bootloader  &none           &none         &none         &none         &none         &none         &none         &none         &none         &none           &bootloader
&bt BT_CLR   &bt BT_SEL 0    &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &bt BT_SEL 4  &bt BT_SEL 3  &bt BT_SEL 2  &bt BT_SEL 1  &bt BT_SEL 0    &bt BT_CLR
&sys_reset   &none           &none         &none         &ind_con      &ind_bat      &ind_bat      &ind_con      &none         &none         &none           &sys_reset
                                           &trans        &none         &trans        &none         &trans        &trans
            >;
        };
    };
};
